---
layout: default
redirect_to: https://www.linkedin.com/in/gusribeiro/
---

{% include header.html %}
<main class="home">
	<header class="main-header">
		<h1 class="main-title">www, café &amp; rock 'n roll.</h1>
		<span class="main-image"></span>
	</header>
	<div class="main-content">
		<div class="wrap">
			<section class="about-me">
				<h2 class="section-title">Quem sou?</h2>
				<p>Olá! Me chamo Gustavo Ribeiro, carioca, <span id="age">--</span> anos e sou desenvolvedor front-end, me mudei para São Paulo a procura de melhores oportunidades e atualmente trabalho como <span>Especialista Front-end</span> na <span>Dasa</span>.</p>
				<p>Por onde andei: <span>Letsbank</span>, <span>HFocus</span>, <span>Buscapé</span>, <span>Saraiva</span>, <span>Concrete Solutions</span>, <span>Reserva</span>, <span>InfoGlobo</span>, <span>Zoom</span>, <span>UOL</span>, <span>Marlin</span> e <span>Ancine</span>.</p>
			</section>

			{% if site.categories.blog != null %}
				<section class="recent-posts">
					<h2 class="section-title">Artigos recentes</h2>
					<ul class="post-list">
						{% for post in site.categories.blog limit:3 %}
							<li>
								<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								<span>{{ post.date | date: "%b, %d %Y" }}</span>
							</li>
						{% endfor %}
					</ul>
				</section>
			{% endif %}

			<section class="social">
				<ul>
					<li><a href="https://github.com/gusribeiro" rel="nofollow"><img src="/assets/img/github-logo.svg" width="30" height="30" /></a></li>
					<li><a href="https://br.linkedin.com/in/gusribeiro" rel="nofollow"><img src="/assets/img/linkedin-logo.svg" width="30" height="30" /></a></li>
				</ul>
			</section>
		</div>
	</div>
</main>
