* {margin:0;padding:0;line-height:100%;font-family:Roboto, sans-serif;-webkit-font-smoothing:antialiased;}
li {list-style:none;}

h2, h3, h4, h5, h6 {margin:80px 0 40px 0;}
blockquote {margin:40px 0 45px 0;padding:5px 15px;font-style:italic;font-size:16px;border-left:solid 4px #ccc;}
blockquote p {margin:0 !important;}
a:hover {opacity:.5;}

.site-header {position:fixed;top:0;display:flex;justify-content:space-between;align-items:center;width:100%;z-index:5;}

.logo {padding:15px 20px;font:700 22px Roboto Condensed, sans-serif;color:#fff;text-decoration:none;}
.logo span {font-weight:400;color:#999;}

.nav ul {display:inline-flex;}
.nav ul li {display:list-item;}
.nav ul li a {display:inline-block;padding:19px 20px;font:300 14px Roboto Condensed, sans-serif;color:#fff;text-decoration:none;}

.main-header {display:flex;align-items:center;justify-content:center;min-height:500px;height:100vh;background:#333;}

.main-title {margin-top:0;padding:0 20px;max-width:70%;font-weight:700;font-size:6vmax;font-family:Roboto Condensed;line-height:150%;color:#fff;text-align:center;text-shadow:2px 2px rgba(0, 0, 0, .5);z-index:3;}

.main-image {position:fixed;left:0;top:0;width:100%;height:100%;opacity:.6;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.main-image:after {content:'';position:absolute;width:100%;height:100%;left:0;top:0;z-index:3;background-image:linear-gradient(180deg,rgba(0,0,0,.8) 0,transparent 40%,transparent 80%,rgba(0,0,0,.7));}

.main-content {position:relative;padding:100px 0;background:#fff;}
.main-content .wrap {max-width:800px;margin:0 auto;padding:0 20px;}
.main-content a {color:#09f;transition:.3s;}

.home .main-image {background-image:url(/assets/img/bg-home.jpg);}

.home section {padding-top:60px;}
.home section:first-child {padding-top:0;}

.home .post-list a {font-weight:400;font-size:20px;}

.section-title {margin-bottom:40px;font:700 40px Roboto Condensed;text-align:center;}

.about-me p {font-weight:300;font-size:20px;line-height:300%;}
.about-me p span {font-weight:400;}

.social {display:flex;justify-content:space-around;align-items:center;padding-top:100px;}
.social ul {display:inline-flex;}
.social li {display:list-item;padding:20px;}
.social img {width:30px;height:30px;}
.social img path {fill:#f00;}
/*.social li a {display:inline-block;width:30px;height:30px;text-indent:-9999px;background-repeat:no-repeat;background-size:cover;}*/
/*.social .github {background-image:url(/assets/img/github-logo.svg);}*/
/*.social .linkedin {background-image:url(/assets/img/linkedin-logo.svg);}*/

/*.recent-posts {padding-top:100px;}*/

.blog .main-image, .post .main-image {background-image:url(/assets/img/bg-blog.jpg);}

.post-list li {display:flex;justify-content:space-between;align-items:center;padding:40px 0;border-top:solid 1px #eee;}
.post-list li:first-child {border-top:none;}
.post-list a {padding-right:40px;font:700 24px Roboto;color:#333;text-decoration:none;}
.post-list span {font-size:14px;color:#ccc;text-transform:uppercase;}

.post header p {margin-bottom:5px;color:#ccc;}
.post article {margin:30px 0;font-size:20px;}
.post article * {line-height:150%;}
.post article p {margin:40px 0;line-height:150%;}
.post article ul, .post article ol, .post article dl {margin:20px 40px;}
.post li {margin:10px 0;list-style:disc;}
.post .highlight {margin:40px 0 45px 0;padding:10px 20px;font-size:14px;border:dashed 1px #ccc;background:#fff;overflow:auto;}

.highlighter-rouge, .highlighter-rouge * {font-family:monospace;}
code.highlighter-rouge {padding:2px 5px;font-size:16px;color:#d21c54;border:solid 1px #ddd;border-radius:3px;background:#f6f6f6;}

#disqus_thread {margin-top:150px;}

.portfolio .main-content {padding:0;}
.portfolio .empty {padding:100px 0;}
.portfolio .posts {display:flex;justify-content:space-between;flex-wrap:wrap;}
.portfolio .posts li {position:relative;width:30%;}
.portfolio .posts li img {width:100%;}
.portfolio .posts li > span {position:absolute;left:0;top:0;display:flex;justify-content:center;align-items:center;width:100%;height:100%;text-align:center;background:rgba(0, 0, 0, .8);opacity:0;transition:.3s;}
.portfolio .posts li a:hover {opacity:1;}
.portfolio .posts li:hover > span {color:#fff;opacity:1;}
.portfolio .posts li span em {font-size:20px;}
